.btn-border{
	border: 1px solid #131313;
	display: block;
	max-height: 50px;
	padding-top: 19px;
	padding-bottom: 19px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	color: inherit;
	transition: .3s ease 0s;
	
	&:hover{    
		background: #304770;
    	color: #FFF;
    	text-decoration: none;
	}
}