.additional-inform{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	height: 43px;
	padding-top: 15px;
	@include mobile{
		flex-direction: column;
		background-color: #F8F8F8;
		text-align: center;
		height: 100px;
		margin-top: 15px;
	}
}
.additional-inform a{
	color: #555555;
	font-family: Circe;	
	line-height: 13.13px;
}