.tel-num{
	font-size: 15px;
	font-weight: 300;
	display: inline-block;
	padding-top: 18px;
	line-height: 14px;
	letter-spacing: 0.15px;
	color: #000000;
	
	@include  tablet{
		position: absolute;
		top: -55px;
		left: 60%;
		width: 108px;
		margin-left: -107px;
	}
}