.useful-articles{
	margin-bottom: 76px;
	padding-top: 65px;
	padding-bottom: 67px;
	background-color: #F8F8F8;
}
.useful-articles__row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 59px;
	
	@include tablet{
		flex-direction: column;
	}
}
.useful-articles__col{
	position: relative;
	
	@include tablet{
		margin-bottom: 15px;
		img{
			width: 100%;
		}
	}
}
.useful-articles__title{
	margin-bottom: 48px;
}
.useful-articles__content{
	position: absolute;
	top: 37px;
	color: #fff;
	padding-top: 80px;
	left: 18%;
	padding-right: 17%;
	text-align: center;
}
.useful-articles__btn-more{
	border-color: #fff;
	text-transform: uppercase;
}
.useful-articles__content--white-bg{
	background-color: rgba(255, 255, 255, 0.9);
	color: #000;
	left: 37px;
	padding-left: 11%;
	padding-right: 11%;
	padding-bottom: 63px;
	max-width: 497px;
	top: 37px;
	.useful-articles__btn-more{
		border-color: #000;
	}

	@include tablet{
		width: 390px;
		left: 50%;
		margin-left: -195px;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	@include mobile{
		width: 290px;
		margin-left: -145px;
	}
}
.useful-articles__heading{
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	margin-bottom: 24px;
}
.useful-articles__link{
	font-size: 14px;
	font-weight: 700;
	line-height: 13px;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	text-align: center;
	display: block;
	color: inherit;
	
	&:hover{
		color: inherit;
	}
}