$font-family: 'Circe', sans-serif;
$font-size: 1;
$line-height: 1.5;
$font-weight: 400;

$color-main: #212021;;
$color-secondary: #141414;;

$tablet-width: 1170px;
$desktop-width: 1171px;
$mobile-width-only: 620px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
	